[Unit]
Description = User Service
[Service]
User=${app_user}
Environment=MONGO=true
Environment=REDIS_HOST=redis.cskvsmi.online
Environment=MONGO_URL="mongodb://mongodb.cskvsmi.online:27017/users"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target